*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
.head{
    width:100vw;
    height:13vh;
    box-shadow:0 0 3px grey;
}
.head h1{
    display: inline-block;
    background-color: yellow;
    margin:4vh 2vw;
    padding:0.3vh 1vw;
    border-radius: 10px;
    font:bold 1.6rem hectiva;
}
#da{
    font:bold 1rem monospace;
    /* margin:1vh 1vw; */
    display: inline;
}
header{
    width:100vw;
    height:auto;
    background-color: #cbdadfc4;
}
.abc{
    width:90%;
    margin:1% 5%;
    padding:1vh 0.3vw;
    font-size:1rem;
}
header h2{
    text-align: center;
    font:bold 2.3rem arial;
}
#btn{
    background-color: yellow;
    border-radius: 10px;
}
h2,p{
    padding:1vh 5vw;
}
nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
    padding:5px;
}
nav img{
    width:100%;
}
#sec1{
    background-color: #7f838b;

}
#sec1 img,#sec2 img{
    width:80%;
    margin:1% 5%;
}
#sec1 #btn2,#sec2 #btn3{
    margin:1vh 5vw;
    color:white;
    background-color: #555;
    padding:1vh 2vw;
    border-radius:20px;
    font:bold 1.3rem arial;
}
#sec3 img{
    width:90%;
    margin-left:2vw;
}
#sec4{
    background-color: black;
    width:100vw;
    height:auto;
}
#sec4 h3{
    color:white;
    font:bold 1.4rem arial;
    text-align: center;
    padding:1vh 0;
}
#sec4 .container{
    width:100vw;
    height:auto;
    display: flex;
    /* justify-content:space-between;
    align-items:flex-start; */
    gap:10px;
    font:bold 1.4rem arial;
}
#sec4 #container1{
    background-color: yellow;
    width:30vw;
    height:10vh;
    margin-left:10vw;
    border-radius:20px;
    padding:1vh 4vw;
}
#sec4 #container2{
    background-color: white;
    color:black;
    width:30vw;
    height:10vh;
    margin-left:10vw;
    border-radius:20px;
    padding:1vh 4vw;
}
.line{
    color:white;
    display: flex;
    padding-left:4vw;
    padding-right:6vw;
}
.line{
    margin:5vh 0;
}
span{
    margin-left:20vw;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
#line1,#line2{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
}
footer a{
    text-decoration: none;
    color:black;
    font:bold 0.9rem arial;
}
#copyright{
    font:lighter 0.8rem arial;
}
@media(max-width:1300px){
    .abc{
        width:50%;
        margin-left:25%;
        padding:20px;
    }
    header h2{
        font-size:3rem;
    }
    nav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:5px;
    padding:5px;
    }
    #sec1 img,#sec2 img{
    width:30%;
    height:50vh;
    margin:1% 5%;
    }
#sec1 #btn2,#sec2 #btn3{
    margin:1vh 5vw;
    color:white;
    background-color: #555;
    padding:1vh 2vw;
    border-radius:20px;
    font:bold 1.3rem arial;
}
#sec3 img{
    width:30%;
    margin-left:2vw;
}
#sec4 #container1{
    width:12vw;
    height:20vh;
    margin-left:25vw;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec4 #container2{
    width:12vw;
    height:20vh;
    margin-left:25vw;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    padding-left:20vw;
    font-size:2rem
    /* padding-right:5vw; */
}
#sec4 h3{
    font:bold 2.2rem arial;
    padding:2vh 0;
}
#copyright{
    letter-spacing:1px;
}
}